<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Development-->
    <add key="Gorilla.Mailer.Provider" value="Development" />

    <!--Mandrill-->
    <!--<add key="Gorilla.Mailer.Provider" value="Mandrill" />
    <add key="Gorilla.Mailer.Key" value="" />-->
  </appSettings>
</configuration>